*{
    box-sizing: border-box;

}

header {
/* background add some colors */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(85, 83, 83);
}
header nav a{
/* add flex functions     */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:powderblue;
    font-weight: bolder;
    text-decoration: none;
}

header h2 {
    background-color:powderblue;
    /* add some padding to adjust position */
    padding: 2px 5px 2px 25px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center; /* put content align center */
  }
  
  .about-content {
    display: flex;
    flex-direction: row; /* put image and context in a row */
    align-items: center; /* keep context centered */
    gap: 20px; /* make some space between image and context */
  }
  
  .photo-about {
    width: 280px;
    height: 280px;
    /* min-width: 30%; */
}

  .about-me {
    max-width: 75%; /* set max width */
  }
  
.container {
    position: relative;
}
.container img {
    width: 100%;
    border: solid 4px powderblue;
}
.project-title {
    /* to make text in front of the background pics. */
    position: absolute;
    background-color: #ed7171;
    bottom: 5%;
}
.contact {
    text-align: center;
}
.contact nav a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: powderblue;
    text-decoration: none;
}
nav a {
    font-size: 75%;
}
/* add some hover movement */
nav a:hover {
    text-decoration: underline;
}
.container:hover {
    box-shadow: 7px -5px 6px 2px;
    filter: blur(3px);
    transform: scale(110%);
}
/* active movement */
nav a:active {
    text-decoration-color: blue;
}
/* focus movement */
nav a:focus {
    text-decoration-color: blue;
}

@media screen and (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center; 
    }

    
  }